<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- the following button will be used to open
      up the nav menu on smaller screens -->
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#nav-collapsible-section">
        <span class="glyphicon glyphicon-menu-hamburger">
      </button>

      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-road"></span>
      </a>
    </div>

    <!-- order of classes in class attribute does not
    matter -->
    <!-- the id below is used by the navbar-toggle button above to
    determine which elements should be toggle by the button -->
    <div class="navbar-collapse collapse" id="nav-collapsible-section">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/grid-demo">Grid Demo</a></li>
      </ul>
    </div>
  </div>
</nav>
